.container {
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
  
}

 /* ## Clear fix ## */
img{
    float: left;
    margin: 5px;
}

 .cf:before,
 .cf:after {
     content: " "; 
     display: table; 
 }
 
 .cf:after {
     clear: both;
 }
 
 .cf {
     *zoom: 1;
 }